<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pediatrapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".view.HistoriaClinicaActivity"></activity>
        <activity android:name=".view.VerVacunaActivity" />
        <activity android:name=".view.InitialActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.AddCurvaActivity" />
        <activity android:name=".view.AddVacunaActivity" />
        <activity android:name=".view.CurvasGraficoActivity" />
        <activity android:name=".view.CurvasCrecimientoActivity" />
        <activity android:name=".view.ListaVacunasActivity" />
        <activity android:name=".view.VacunasActivity" />
        <activity android:name=".view.MessageActivity" />
        <activity android:name=".view.ActivityMainPediatra" />
        <activity android:name=".view.SignUpActivity" />
        <activity android:name=".view.LoginActivity" />
        <activity android:name=".view.StartActivity" />
        <activity android:name=".view.MainActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>